@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */
.logo-split {
    background: linear-gradient(to right, #4f46e5 50%, #ffffff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800; /* Font tebal agar gradasi terlihat jelas */
    display: inline-block;
}